################
### MONITORS ###
################
# See https://wiki.hypr.land/Configuring/Monitors/
monitor=,         preferred,     auto,    1
monitor=eDP-1,    preferred,     auto,    2 # T14s FHD
monitor=DP-2,     3440x1440@100, 0x0,     1.25 # Evnia 34 Wide WQHD
monitor=HDMI-A-1, 1920x1080@75,  -3440x0, 1 # LG FHD
